body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    position: relative;
}

.menuRight{
    float: right;
    margin: 30px;
}

.menuCenter{
    float: right;
    margin: 30px 120px 0px 0px;
}

.menuRight a{
    text-decoration: none;
    color: black;
    margin: 30px;
}

.menuCenter .active{
    color: rgb(255, 215, 38);
}

.menuCenter a{
    text-decoration: none;
    color:rgb(85, 193, 255);
    padding: 30px;
}

.menuCenter a:hover{
    color: rgb(255, 215, 38);
    cursor: pointer;
}

.logo{
    width: 200px;
    margin: 10px;
}

.line{
    border-left: 2px solid rgb(158, 158, 158);
    height: 80px;
    position: absolute;
    right: 120px;
    top: 0px;
}

.menuSecond{
    background-color:rgb(85, 193, 255);
    width: 100%;
    overflow: auto;
}

.textLeft{
    float: left;
    padding:10px 30px;
    margin-top: 10px;
    color: white;
}

.textRight{
    float: right;
    padding:10px 30px;
    color: white;
}

.headerDestination{
    text-align: center;
    margin-top: 60px;
}

.headerDestination h1{
    color:rgb(85, 193, 255);
}

.imagesOneRow , .imagesTwoRow{
    padding:20px 60px 10px 60px;
    margin-left: 60px;
}

div.polaroid {
    width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    margin: 10px;
}

div.container {
    text-align: left;
    padding:10px 20px;
}

.btnView{
    color: white;
    background-color: yellowgreen;
    border: none;
    padding:10px 20px;
    border-radius: 5px;
    position: absolute;
    right: 630px;
    margin: 30px;
}

.formPage{
    background-color:rgb(85, 193, 255);
    width: 100%;
    margin-top: 200px;
    overflow: auto;
}

.formPage h2{
    color: white;
    float: left;
    margin-left: 40px;
}

.formPage form{
    float: right;
    margin-top: 20px;
    margin-right: 120px;
}

.formPage input{
    padding:5px 20px;
}

.name{
    width: 100px;
}

.formPage button{
    background-color: yellowgreen;
    color: white;
    padding:6px 20px;
    border: none;
}